* {
	margin: 0;
	padding: 0;
	border: 0;
}

:root {
	font-family: 'Open Sans', sans-serif;
	color: #FFF;
	text-align: center;
	font-size: 14px;
}

header,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
}

p {
	margin: 2rem 0;
	font-size: 14px;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
	
}

main, header, footer {
	margin: 0 2rem;
}

@media (max-width: 1000px) {
	body {
		background: 
		url("../images/backgrounds/bg-curvy-mobile.svg") 
		no-repeat
		0 230px,
		linear-gradient(to bottom, hsl(217, 28%, 15%) 370px, hsl(218, 28%, 13%)370px 80%, hsl(216, 53%, 9%) 80%) ;
	}
}

@media (min-width: 1000px) {
	body {
		background: 
		url("../images/backgrounds/bg-curvy-desktop.svg")
		no-repeat
		0 550px,
		linear-gradient(to bottom, hsl(217, 28%, 15%) 980px, hsl(218, 28%, 13%)980px 87%, hsl(216, 53%, 9%) 87%);
	}
}