/*Cabeçalho*/
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
}

.header img {
	width: 90px;
}

/*Cabeçalho nav*/
.header_navigation a {
	margin-right: 2rem;
}

.header_navigation a:last-child {
	margin-right: 0;
}

@media (max-width: 1000px) {
	.header {}
}

@media (min-width: 1000px) {
	.header {
		margin: 0 3rem;
	}

	.header_navigation a:hover {
		text-decoration: underline;
	}
}